@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
:root {
  --background-color: #121212;
  --color-text: white;  
  --background-color-hover: #121212; /* #0c2c7b*/   
  --color-secondary: lightgray; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
   color: var(--color-text);
   background-color: var(--background-color);
}


h1 {
   color: var(--color-text);
   margin-top: 31px;
   margin-bottom: 8px;
}

p {
   color: var(--color-text);
   margin-left: auto; 
   margin-right: auto;
}

.light-theme {
   --background-color: white;
   --color-text: black;    
   --background-color-hover: #b6cccc;
}

#icon {   
   width: 15px;
   height: 15px;
   cursor: pointer;
   stroke: #FFFFFF ; /*#121212 white  */
   display: block;
   margin: auto;
   margin-top: 15px;
   margin-right: 320px; 
   margin-left: auto;
}

.items {
   display: flex;
   width: 380px;
   justify-content: space-around;
   display: flex;
   gap: 2rem;
   justify-content: space-between;
   align-items: center;
   background-color: var(--color-secondary);
   padding: 10px;
   border-radius: 8px;
   margin: 10px 0;
}

.items p {
   text-transform: capitalize;
}

/*
.slider {
  --background: #FFFFFF;
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: var(--background);
   -webkit-transition: .5s;
    transition: .5s;
    border-radius: 30px; 
}

.slider:before {
   position: relative;
   content: "";
   height: 1.4em;
   width: 1.4em;
   border-radius: 50%;
   left: 10%;
   border-bottom: 15%;
   -webkit-box-shadow: inset 8px -4px 0px 0px #e2d95c47;
   box-shadow: inset 8px -4px 0px #e2d95c47;
   background: var(--background);
   -webkit-transition: .5s;
   transition: .5s;
}

input:checked+.slider {
   background-color: var(--color-secondary);  /* #33196b   
} */


.weather-info {
      background-color: lightgray;      
      display: flex;
      align-items: center;
      margin: 10px 0;
      
}

.search-button input {
   border: 4px solid lightgray;
   border-radius: 3px;
   padding: 5px;
   height: 35px;
}

.search-button {
   border: 4px solid lightgray;
   height: 40px;
   width: 60px;
   border-radius: 3px;
   border: none;
   /*background-color: var(--background-color);*/
   color: var(--color-text);
}

.container {
   background-color: var(--background-color);
   text-align: center;
   width: 320px;
   margin-top: 41px;
   margin-left: auto; 
   margin-right: auto;
}

.container .weather-screen  {
   display: flex;
   text-align: center;
   width: 320px;
   background-color: auto;
}

.container .weather-screen .itens  {
   text-align: center;
   width: 320px;
   background-color: gray;

}

